h1 Rankings

h3
  | Here, you can see the rankings for each week. Alternatively, you may want to
  a(href="/weeks") view or modify your weekly points.

.leaderboard
  uib-tabset(active="active")
    uib-tab(index="$index + 1", ng-repeat="week in weeks" heading="Week {{$index + 1}}" active="tab.active")
      .rankings
        .rank-wrapper
          .rank Rank
          .name Name
        .rank-wrapper(ng-repeat="ranking in week")
          .rank {{ranking.rank}}
          .name {{ranking.user}}
